@media only screen and (max-width: 1100px) {
    label {
        display: block;
    }

    .row {
        display: block;
    }

    .box_content_crear_vista .row .pnl_input {
        margin: 30px 0;
    }
}
@media only screen and (max-width: 745px) {
    #container {
        margin: 0;
        padding: 0;
    }

    label {
        display: block;
    }

    .row {
        display: block;
    }
}
