/* Estilos para las plantillas que se utilizan en los htmlareas */
#webmanager{   

}

/*    =Dos filas texto-foto-foto-texto*/
.fila1{
overflow:hidden;
clear:both;

}
.fila2{
overflow:hidden;
clear:both;
}
.textofila1{
display:block;
float:left;
width:50%;
}
.imgfila1{
display:block;
float:right;
}
.textofila2{
display:block;
float:right;
width:50%;
}

.imgfila2{
display:block;
float:left;
}
/*      =Dos columnas texto foto*/
.textocolumna1{
display:block;
float:left;
width:60%;
_width:50%;
margin-right:6px;
}
.imgcolumna1{
display:block;
float:right;


}